.sub-menu {
    position: absolute;
    background: #fff;
    padding: 1rem 0;
    top: 200%;
    left: -2rem;
    animation: sub-menu .6s ease;
    display: none;
}

.sub-menu li {
    padding: 0.4rem 2rem;
    width: 23rem;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 2.6rem;
}

.sub-menu li a {
    padding-left: 2rem;
    transition: .5s;
}

.sub-menu a:hover::before {
    display: block;
}

.sub-menu a:hover {
    padding-left: 3.5rem;
}