.register-header-img {
    position: relative;
    margin-top: 13rem;
    background-image: url("../img/e1-5.jpeg");
    background-size: cover;
    background-position: center;
    min-height: 29rem;
    position: relative;
    width: 100%;
    align-items: center;
}

.register-header-bg {
    position: absolute;
    background-color: #07294d;
    width: 100%;
    height: 100%;
    opacity: .9;
    display: flex;
    align-items: center;
}

.register-header-text {
    width: 114rem;
    margin-right: auto;
    margin-left: auto;
}

.register-header-text>h2 {
    color: #fff;
    font-size: 4.6rem;
    font-weight: 700;
    margin-bottom: 0;
    position: relative;
    margin: 0;
    line-height: 5.4rem;
}

.register-header-nav>ul {
    position: relative;
    display: flex;
}

.register-header-nav {
    margin-top: 4rem;
}

.register-header-nav>ul>li>a {
    color: #fff;
    font-size: 1.6rem;
}

.item-register::after {
    content: "\002F";
    padding: 0 0.5em;
    color: #edf0f2;
    font-size: 1.6rem;
}

.register-header-nav>ul>li>span {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 300;
}

.register-form-content {
    max-width: 114rem;
    margin-right: auto;
    margin-left: auto;
    padding: 12rem 0;
}

.register-form-container {
    background-color: #edf0f2;
}

.register-form-bg {
    position: relative;
    padding: 10rem 5rem 12rem 5rem;
    background-color: #fff;
    border-radius: .8rem;
}

.register-form-group {
    display: flex;
}

.register-group {
    width: 50%;
    margin: 0 2rem 2.5rem 2rem;
}

.register-group>label {
    display: block;
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
}

.register-group>input {
    width: 100%;
    height: 4.2rem;
    border: .1rem solid #bbb;
    border-radius: .4rem;
    line-height: 4.2rem;
    padding: .8rem;
    font-size: 1.4rem;
    font-weight: 500;
}

.register-form-group-btn {}

.register-btn {
    position: absolute;
    color: #edf0f2;
    font-size: 1.6rem;
    margin: 2rem 2rem 3.5rem 2rem;
    background-color: var(--main-color-first);
    padding: 1.5rem 2.8rem;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
    transition: .3s;
    right: 4%;

}

.register-btn:hover {
    background-color: var(--main-color-second);
    color: #07294d;
}

.register-err {
    display: none;
    color: red;
    font-weight: 400 !important;
    font-size: 1rem !important;
    margin: .5rem 0 0 0 !important;
    float: right;
}